@font-face {
  font-family: Mel_Pooly_dafont;
  src: url("./assets/fonts/Mel_Pooly_dafont.otf");
}

.App {
  text-align: center;
  background-color: #c9f2f5;
  width: 100vw;
}

.Header-container {
  background-image: url("./assets/images/clark-tai-nq18MYhxdGs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 63%;
  background-size: cover;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #fff;
  /* background-image: url("./assets/images/clark-tai-nq18MYhxdGs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 63%;
  background-size: cover; */
}

.App-header img {
  height: 185px;
  color: #fff;
}

.App-header nav {
  width: 65%;
}

.Desktop-nav {
  display: none;
}

.App-header li a {
  font-family: "Mel_Pooly_dafont", serif;
  /* font-weight: bolder; */
  margin: 0px 15px;
  color: #fff;
  text-decoration: none;
}

.Hero-image {
  /* background-image: linear-gradient(rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/content-pixie-VIh-B-bNZMc-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 380px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Hero-text {
  width: 100%;
}

.Hero-text h1 {
  font-family: "Mel_Pooly_dafont", serif;
  margin: 0 auto;
  font-size: 4rem;
  color: #fff;
}

.Hero-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 0;
}

.Hero-text li {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 25px;
}

.Services ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.Service {
  width: 90%;
  margin: 10px auto;
}

.Service-consultation {
  /* background-image: linear-gradient(rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"); */
  background-image: url("./assets/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Service-restoration {
  background-image: url("./assets/images/taylor-simpson-BK0y-LChktM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Service-maintainance {
  background-image: url("./assets/images/toni-cuenca-55MySYrKf5w-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Service-details {
  padding: 20px 30px;
  color: #fff;
  background-color: rgba(4, 66, 113, 0.75);
  width: 60%;
  margin: 25px auto;
}

.Service-details h3 {
  font-family: "Mel_Pooly_dafont", serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.Service-details p {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.Photo-gallery {
  background-image: url("./assets/images/cia-gould-ripples-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Photos {
  line-height: 0;
  -webkit-column-count: 1; /* split it into 5 columns */
  -webkit-column-gap: 5px; /* give it a 5px gap between columns */
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 1;
  column-gap: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0px;
}

.Project-photo {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

footer p {
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #044271;
  font-weight: bolder;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .Services ul {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .Desktop-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .Hamburger-wrapper {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  /* .Services ul {
    flex-direction: row;
  } */

  .Photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
