.App {
  text-align: center;
  background-color: #c9f2f5;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #35555f;
  /* background-image: url("./assets/images/clark-tai-nq18MYhxdGs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 63%;
  background-size: cover; */
}

.App-header img {
  height: 185px;
  color: #fff;
}

.App-header nav {
  width: 65%;
}
.App-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.App-header li {
  font-weight: bolder;
  margin: 0px 15px;
}

.Hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/content-pixie-VIh-B-bNZMc-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Hero-text h1 {
  margin: 0 auto;
  font-size: 4rem;
  color: #fff;
}

.Hero-text ul {
  list-style: none;
  display: flex;
  color: #fff;
}
