.Hamburger-wrapper {
  float: right;
  margin-right: 25px;
  margin-bottom: 65px;
}

.Hamburger-icon {
  display: inline-block;
  cursor: pointer;
  width: 4rem;
  position: relative;
  z-index: 20;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 12px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 22px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.Hamburger {
  width: 92.5%;
  height: 100vh;
  background: rgba(4, 66, 113, 0.5);
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  position: absolute;
  right: 0%;
  bottom: -2%;
  z-index: 10;
  list-style: none;
}

/*

.Burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #000;
  transform-origin: 1px;
  transition: all 0.3s linear;
  margin: 3px 0px;
} */

/* Hide the fourth horizontal bar in hamburger menu */
/* .Burger4 {
  background-color: transparent;
} */
